.hero {
  margin-top: 100px;;
  position: relative;
  padding-top: 1px;
  h1 {
    text-align: center;
    color: $primary;
  }
  .hero-text{
    .hero-button {
      margin-top: 30px;
    }
  }
  .hero-image{
    @extend %flex;
    img {
      max-width: 400px;
    }
  }
}