.hero {
  position: relative;
  padding-top: 1px;
  .custom-shape-divider-top-1669423948 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1669423948 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 99px;
  }

  .custom-shape-divider-top-1669423948 .shape-fill {
      fill: #27187E;
  }
  .hero-text{
    .hero-button {
      margin-top: 30px;
    }
  }
  .hero-image{
    @extend %flex;
    font-size: 400px;
    color: $secondary;
  }
}