.home-boxes {
  margin-top: 150px;
  padding: 85px 20px;
  background-color: $secondary;
  position: relative;

  .custom-shape-divider-top-1669514126 {
    position: absolute;
    top: -92px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1669514127 {
    position: absolute;
    bottom: -92px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }


  .custom-shape-divider-top-1669514126 svg,
  .custom-shape-divider-top-1669514127 svg {
      position: relative;
      display: block;
      width: calc(137% + 1.3px);
      height: 93px;
  }

  .custom-shape-divider-top-1669514126 .shape-fill,
  .custom-shape-divider-top-1669514127 .shape-fill {
      fill: #FF8600;
  }

  h2 {
    text-align: center;
    color: $dark;
  }
}

%background-before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: $light;
  top: 0;
  left: 0;
  border-radius: 25% 35% 45% 30%;
}

.bg {
  margin: 10px;
  min-width: 300px;
  position: relative;
  padding: 0;
  &:before {
    @extend %background-before;
    animation: moving linear 7s infinite;
  }
  &.bg-1:before {
    top: 50%;
    left: 60%;
  }
  &.bg-2:before {
    top: 50%;
    left: 60%;
  }
  &.bg-3:before {
    top: 25%;
    left: 80%;
  }
}

@keyframes moving {
  0% {
    border-radius: 25% 35% 45% 30%;
  }
  25% {
    border-radius: 40% 25% 50% 20%;
  }
  50% {
    border-radius: 55% 45% 20% 10%;
  }
  75% {
    border-radius: 30% 55% 35% 20%;
  }
  100% {
    border-radius: 25% 35% 45% 30%;
  }
}

.container-box {
  border: 1px solid $primary;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;

  

  .box-icon {
    font-size: 5rem;
    color: $light;
  }
}