.home-boxes {
  margin-top: 150px;
  padding: 85px 20px;
  background-color: $secondary;
  position: relative;

  .custom-shape-divider-top-1669514126 {
    position: absolute;
    top: -92px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-top-1669514127 {
    position: absolute;
    bottom: -92px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }


  .custom-shape-divider-top-1669514126 svg,
  .custom-shape-divider-top-1669514127 svg {
      position: relative;
      display: block;
      width: calc(137% + 1.3px);
      height: 93px;
  }

  .custom-shape-divider-top-1669514126 .shape-fill,
  .custom-shape-divider-top-1669514127 .shape-fill {
      fill: #FF8600;
  }

  h2 {
    text-align: center;
    color: $light;
  }
}

.container-box {
  border: 1px solid $primary;
  margin: 10px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  min-width: 300px;
  box-shadow: 8px 8px 11px 0px rgba($color: $primary, $alpha: .3);
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .box-icon {
    font-size: 5rem;
    color: $secondary;
  }
}