.home-process {
  h2 {
    text-align: center;
    color: $secondary;
  }
}

.container-process {
  
  margin: 0 15px;
  text-align: center;
  min-width: 300px;
  &.w-30 {
    padding-left: 0;
    padding-right: 0;
  }

  .procces-number {
    p{
      font-size: 15rem;
      line-height: 15rem;
      padding: 15px;
      color: $secondary;
    }
  }

  .process-text {
    border-radius: 8px;
    padding: 30px;
    border: 1px solid $primary;
    box-shadow: 8px 8px 11px 0px rgba($color: $primary, $alpha: .3);
    position: relative;
    top: -70px;
    z-index: -1;
  }
}