.navbar {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.7);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid rgba($color: $primary, $alpha: 0.2);

  // .custom-shape-divider-top-1669423948 {
  //   position: absolute;
  //   bottom: -99px;
  //   left: 0;
  //   width: 100%;
  //   overflow: hidden;
  //   line-height: 0;
  // }

  // .custom-shape-divider-top-1669423948 svg {
  //     position: relative;
  //     display: block;
  //     width: calc(121% + 1.3px);
  //     height: 99px;
  // }

  // .custom-shape-divider-top-1669423948 .shape-fill {
  //     fill: #27187E;
  // }
}
  
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  margin: 0 15%;
}

.nav-logo {
  color: $third;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  flex-grow: 1;
  img {
    width: 35px;
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: $primary;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-size: 2rem;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: $secondary;
}

.nav-item .active {
  color: $secondary;
  // border: 1px solid $third;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $light;
    position: absolute;
    top: 58px !important;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $primary;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: $secondary;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: $light;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: -35px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 4rem;
    cursor: pointer;
    color: $primary;
  }
}
