@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (min-width: map-get($breakpoints, 'xs')) {
        @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (min-width:  map-get($breakpoints, 'sm')) {
        @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: map-get($breakpoints, 'lg')) {
        @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: map-get($breakpoints, 'xl')) {
        @content;
    }
  }
  @if $breakpoint == xxl {
    @media only screen and (min-width: map-get($breakpoints, 'xxl')) {
        @content;
    }
  }
}
// how to use media queries

// @include respond(md){
//   ...
// }

// titles size
@each $name, $size in $titles {
  #{$name} {
    margin-bottom: $size;
    font-size: $size;
    line-height: $size;
  }
};


@each $name, $size in $text {
  #{$name} {
    font-size: $size;
    line-height: 2.5rem;
  }
};

// width sizing
@each $name, $size in $sizing {
  .#{$name} {
    width: 100%;
    padding: 30px;
    @include respond(lg){
      width: $size;
    }
  }
};