// colors
$primary : #27187e;
$secondary: #ff8600;
$third: #838689;
$light: #fdfffc;
$dark: #000000;


//breakpoint screen size
$breakpoints: (
  'xs': 1px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

//orientation
$orientations: (
    'portrait': portrait,
    'landscape': landscape
);

//fonts
$font-nunito:'Nunito', sans-serif;

//font size
$titles: (
  'h1': 4.5rem,
  'h2': 3.2rem,
  'h3': 3rem,
  'h4': 2.8rem,
  'h5': 2.5rem,
  'h6': 2rem,
);

$text: (
  'p': 1.8rem,
);

// sizing
$sizing: (
  'w-100': 100%,
  'w-90': 90%,
  'w-80': 80%,
  'w-70': 70%,
  'w-60': 60%,
  'w-50': 50%,
  'w-40': 40%,
  'w-30': 30%,
  'w-20': 20%,
  'w-10': 10%,
);

